# Default ignored files
/prog2005-assignment2-4e092-firebase-adminsdk-4kzi8-889ca7c77d.json
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea